.row {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}

.row h2 {
  color: white;
}

.passRow {
  padding: 30px 20px;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 20px;
}

.length-col {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.length-col h2 {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.length-col h2 span {
  border: 1px solid white;
  display: inline-block;
  width: 50px;
  padding: 5px;
  font-size: 20px;
  margin-left: 10px;
  color: #00ff41;
}

.rangeInp {
  width: 90%;
}

.btn {
  background: #00ff41;
  padding: 8px 10px;
  margin-top: 10px;
  border: none;
  letter-spacing: 1px;
  font-size: 12px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .passRow {
    grid-template-columns: 1fr;
  }

  .container,
  .row {
    padding: 10px;
  }

  h2 {
    font-size: 16px;
  }
}
